@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.application{
  margin: 100px 40%;
  width: 415;
  height: 485;
  background-color: #282c34;
  border: 2px solid red;
  
}

h1{
  color: white;
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
}

.fit-picture {
  width: 25px;
  margin-left: 10px;
}